.profile__edit-button {
    border: 1px solid white;
    background-color: black;
    width: 24px;
    height: 24px;
    align-self: end;
    margin-left: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    background-image: url(../../../images/profile/edit-button.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    transition-duration: 1s;
}

.profile__edit-button:hover {
    opacity: 60%;
}

@media screen and (max-width:647px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-left: 10px;
        margin-bottom: 5px;
    }
}