.header {
  display: flex;
  margin: 0 auto;
  max-width: 880px;
  min-height: 74px;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width:920px) {
  .header {
    padding-left: 27px;
    padding-right: 19px;
  }
}

@media screen and (max-width:675px) {
  .header {
    max-width: 320px;
    min-height: 56px;
    padding-top: 28px;
  }
}