.profile__add-button {
    max-width: 150px;
    min-height: 50px;
    border: 1px solid white;
    width: 100%;
    align-self: center;
    margin-left: auto;
    background-image: url(../../../images/profile/add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: black;
    transition-duration: 1s;
}

.profile__add-button:hover {
    opacity: 60%;
}

@media screen and (max-width:665px) {
    .profile__add-button {
        margin: 36px auto;
        max-width: 282px;
        margin-bottom: 0;
        background-size: 16px 16px;
    }
}