.popup__input-username {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 358px;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 36px;
    outline: none;
}

@media screen and (max-width:647px) {
    .popup__input-username {
        width: 238px;
        margin-left: 22px;
    }
}