.popup__save-button {
    margin-top: 48px;
    max-width: 358px;
    min-height: 50px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    transition-duration: 1s;
}

.popup__save-button:hover {
    opacity: 80%;
}

@media screen and (max-width:647px) {
    .popup__save-button {
        max-width: 238px;
        min-height: 46px;
        margin-top: 45px;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 1.21;
    }
}